<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="battleline-plugin-firebase-core" version="0.0.1">
    <name>Firebase Core</name>
    <description>Cordova plugin for the Firebase Core analytics SDK.</description>
    <license>Apache 2.0</license>
    <author>Spencer Evans</author>
    <keywords>cordova,firebase,core,analytics</keywords>
    <js-module src="www/FirebaseAnalytics.js" name="FirebaseAnalytics">
        <clobbers target="FirebaseAnalytics" />
    </js-module>

    <platform name="android">
        <source-file src="src/android/AnalyticsWebInterface.java" target-dir="src/org/apache/cordova/plugin" />
    </platform>
</plugin>